@import "../../src/scss/core/core";

.post-content {
  @import '../../src/scss/global/content';
}

.post-meta {
  font-size: 0.875rem;
  margin-bottom: 1.5rem;

  @include breakpoint(500) {
    font-size: 0.625rem;
  }
}

.post-title {
  font-family: $sans;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1.5rem;
}
