---
layout: default
title: I am Ryan.
permalink: /
---

<article >
	<header>
		<h1>I am Ryan</h1>
	</header>

	<section>
		<p>I am a husband, dog father and Seattle transplant. I might be found cheering on <a href="https://soundersfc.com">Sounders FC</a>, playing my guitar, yelling at the TV or Googling the current topic of conversation.</p>

		<p>As a Senior <abbr title="User Experience">UX</abbr> Developer at <a href="https://alley.co/">Alley Interactive</a>, I focus on front-end development as part of a team of immensely talented folks creating solutions for digital publishers.</p>

		<p>I love coffee and cannot be trusted around cookies.</p>

		<p>Find me online at <a href="{% account 'twitter' %}">Twitter</a> and <a href="{% account 'github' %}">GitHub</a>.</p>
	</section>

	<section>
		{% capture github_url %}{% account 'github' %}{% endcapture %}

		<h2>{{ strings.projects_heading }}</h2>

		<ul>
			{% for project in projects %}
				<li>

					<h3>
						<a href="{{ github_url | append: project.slug }}">{{ project.name }}</a>
					</h3>

					<p>{{ project.description }}</p>

				</li>
			{% endfor %}
		</ul>

		<a href="{{ github_url }}">See more on GitHub</a>
	</section>

	{% if collections.post.size > 0 %}
		<section>
			<h2>{{ strings.blog_heading }}</h2>

			{% include post-list.html, count: 4 %}
		</section>
	{% endif %}
</article>
