---
layout: default
title: I am Ryan.
permalink: /
---

<article>
	<section class="about container">
		<header class="about__header">
			<h1 class="about__heading heading__base">I am Ryan</h1>
		</header>

		<div class="about__content post-content">
			<p>I am a husband, dog father and Seattle transplant. I might be found cheering on <a href="https://soundersfc.com">Sounders FC</a>, playing my guitar, yelling at the TV or Googling the current topic of conversation.</p>

			<p>As a Senior <abbr title="User Experience">UX</abbr> Developer at <a href="https://alley.co/">Alley Interactive</a>, I focus on front-end development as part of a team of immensely talented folks creating solutions for digital publishers.</p>

			<p>I love coffee and cannot be trusted around cookies.</p>

			<p>Find me online at <a href="{% account 'twitter' %}">Twitter</a> and <a href="{% account 'github' %}">GitHub</a>.</p>
		</div>
	</section>

	<section class="projects">
		{% capture github_url %}{% account 'github' %}{% endcapture %}

		<div class="container">
			<h2 class="projects__heading heading__base">Select Projects</h2>

			<ul class="projects__list">
				{% for project in projects %}
					<li class="project">
						<article class="project_content">
							<h3 class="project__title heading__base">
								<a href="{{ github_url | append: project.slug }}">{{ project.name }}</a>
							</h3>

							<p class="project__description">{{ project.description }}</p>
						</article>
					</li>
				{% endfor %}
			</ul>

			<a class="cta cta--projects" href="{{ github_url }}">See more on GitHub</a>
		</div>
	</section>

	{% if collections.post.size > 0 %}
		<section>
			<h2 class="heading__base">Notes</h2>

			{% include post-list.html, count: 4 %}
		</section>
	{% endif %}
</article>
