{
  "plugins": [
    ["module-resolver", {
      "root": [
        "./_client/src/**",
        "./_client/src/js/**",
      ],
      "alias": {
        "components": "./_client/components",
      }
    }]
  ],
  "presets": [
    '@babel/preset-env'
  ]
}
