/**
 * Common block styles
 */

/**
 * Most of the <p> element's styling will be inherited from <body>
 * Overrides:
 *     _components.footer: <footer>
 *     _overrides.block: <blockquote>
 */
p {
  margin-bottom: $vertical-rhythm;
}

header {
  padding: $double-vertical-rhythm $gutter-spacing;
}

article {
  padding: 0 $gutter-spacing;
  margin-bottom: $vertical-rhythm;
  width: 100%;
  position: relative; // To contain text selection highlighting
  overflow: hidden;
}

// Full-width, double-lined box with large text
blockquote {
  width: 100%;
  margin-bottom: $vertical-rhythm;
  padding: .5rem;
  border-top: 3px double $theme-decoration-dark;
  border-bottom: 3px double $theme-decoration-dark;
  color: $theme-font-dark;
  font-size: 1.25rem;
  quotes: none;

  &:before,
  &:after {
    content: '';
    content: none;
  }
}

/**
 * This is mostly setup for <code>
 * - Some padding for breathing room
 * - The colored background
 */
pre {
  padding: 1rem;
  position: relative;
  background-color: #393939;
}

/**
 * Code samples
 * Syntax highlighting found in /css/code.scss
 */
code {
  overflow: auto;
  max-width: 100%;
  position: relative;
  line-height: inherit;
  @include font('code');
  white-space: pre;
  -webkit-hyphens: none;
     -moz-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}

// No <figure> styling, as it's used only as a semantic
//  wrapper for code blocks
figcaption {
  text-align: right;
  font-size: 0.7rem;
  margin-bottom: $vertical-rhythm;
}

// Decoration styling
hr {
  border: none;
  height: 1px;
  width: 60%;
  background-color: $theme-decoration-dark;
  margin-bottom: $double-vertical-rhythm;
}

footer {
  padding: $gutter-spacing;
  width: 100%;
  height: auto;
  font-size: 0.625em;
  color: $theme-font-dark;
  text-align: right;
}
