/**
 * Selection overrides
 */

::selection {
  background: $theme-secondary;
  color: $theme-base;
}

  ::-moz-selection {
    background: $theme-secondary;
    color: $theme-base;
  }

// Invert anchors to keep them legible
a::selection,
a h3::selection {
  color: $theme-font-dark;
}

  // @TODO: Doesn't this need an h3?
  a::-moz-selection {
    color: $theme-font-dark;
  }

// @TODO: Does this actually do anything?
img::selection {
  background: $theme-secondary;
  color: $theme-base;
}

  img::-moz-selection {
    background: $theme-secondary;
    color: $theme-base;
  }
