.heading {
  @include heading-secondary;
  margin-bottom: rem(50);
}

.list {
  display: grid;
  grid-gap: rem(50 16);
  list-style-type: none;
  margin-bottom: rem(50);

  @media (min(md)) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.item {
  /* tbd */
}

.title {
  @include heading-tertiary;
}

.more {
  @include more-link;
}
