<p>I am a husband, dog father and Seattle transplant. I might be found cheering on <a href="http://soundersfc.com">Sounders FC</a>, playing my guitar, yelling at the TV or Googling the current topic of conversation.</p>

<p>As a Senior <abbr title="User Experience">UX</abbr> Developer at <a href="https://alley.co/">Alley Interactive</a>, I focus on front-end development as part of a team of immensely talented folks creating solutions for digital publishers.</p>

<p>I love coffee and cannot be trusted around cookies.</p>

<p>Find me online at <a href="{% account 'twitter' %}">Twitter</a> and <a href="{% account 'github' %}">GitHub</a>.</p>
