{% assign accounts = site.data.accounts %}

<p>I am a husband, dog father and Seattle transplant. I might be found cheering on <a href="http://soundersfc.com">Sounders FC</a>, playing my guitar, yelling at the TV or Googling the current topic of conversation.</p>

<p>I am a Senior <abbr title="User Experience">UX</abbr> Developer at <a href="https://alley.co/">Alley Interactive</a>, working with an immensely talented team of folks creating solutions for digital publishers.</p>

<p>I love coffee and cannot be trusted around cookies.</p>

<p>Find me online at <a href="http://twitter.com/{{ accounts.twitter_username }}">Twitter</a> and <a href="http://github.com/{{ accounts.github_username }}">GitHub</a>.</p>
