{% capture canonicalUrl %}{{ page.url | prepend: site.domain }}{% endcapture %}
{% capture metaTitle %}{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}{% endcapture %}

{% capture metaDescription %}
	{% if description %}
		{{ description }}
	{% else %}
		{{ site.description }}
	{% endif %}
{% endcapture %}

{% capture socialCard %}
	{% if mainImage %}
		{{ mainImage | prepend: site.domain }}
	{% else %}
		{{ '/assets/images/social-card.png' | prepend: site.domain }}
	{% endif %}
{% endcapture %}

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, width=device-width, minimum-scale=1.0, user-scalable=1" />

	<link
		rel="preload"
		href="/assets/fonts/SourceSerifPro-Italic-subset.woff2"
		as="font"
		type="font/woff2"
		crossorigin
	/>
	<link
		rel="preload"
		href="/assets/fonts/SourceSerifPro-Regular-subset.woff2"
		as="font"
		type="font/woff2"
		crossorigin
	/>
	<link
		rel="preload"
		href="/assets/fonts/SourceSerifPro-SemiBold-subset.woff2"
		as="font"
		type="font/woff2"
		crossorigin
	/>
	<link
		rel="preload"
		href="/assets/fonts/SourceSerifPro-SemiBoldItalic-subset.woff2"
		as="font"
		type="font/woff2"
		crossorigin
	/>

	{% assign post_layouts = "post,page" | split: "," %}
	{% if permalink == '/' %}
		{{ '/css/critical.home.css' | inlineContents }}

		<link
			rel="stylesheet"
			href="/assets/css/global.css?v={{ pkg.version }}"
			media="print"
			onload="this.onload=null;this.media='all'"
		>
		<link
			rel="stylesheet"
			href="/assets/css/home.css?v={{ pkg.version }}"
			media="print"
			onload="this.onload=null;this.media='all'"
		>
	{% elsif post_layouts contains layout %}
		{{ '/css/critical.post.css' | inlineContents }}

		<link
			rel="stylesheet"
			href="/assets/css/global.css?v={{ pkg.version }}"
			media="print"
			onload="this.onload=null;this.media='all'"
		>
		<link
			rel="stylesheet"
			href="/assets/css/post.css?v={{ pkg.version }}"
			media="print"
			onload="this.onload=null;this.media='all'"
		>
	{% elsif layout == 'archive' %}
		<link rel="stylesheet" href="/assets/css/global.css?v={{ pkg.version }}" />
		<link rel="stylesheet" href="/assets/css/archive.css?v={{ pkg.version }}" />
	{% endif %}

	{% if code %}
		<link
			rel="stylesheet"
			href="/assets/css/code.css?v={{ pkg.version }}"
			media="print"
			onload="this.onload=null;this.media='all'"
		>
	{% endif %}

	<title>{{ metaTitle | append: " - goodguyry.me" }}</title>

	<link rel="canonical" href="{{ canonicalUrl }}" />

	<meta name="description" content="{{ metaDescription | strip }}" />
	<meta name="author" content="Ryan Domingue" />
	<meta name="copyright" content="2009-{{ site.time | date: '%Y' }}" />
	<meta name="robots" content="index, follow" />

	<meta property="og:image" content="{{ socialCard | strip }}" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />
	<meta property="og:title" content="{{ metaTitle }}" />
	<meta property="og:url" content="{{ canonicalUrl }}" />
	<meta property="og:site_name" content="Good Guy Ry dot me" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="{{ metaDescription | strip }}" />

	<meta name="twitter:title" content="{{ metaTitle }}" />
	<meta name="twitter:description" content="{{ metaDescription | strip }}" />
	<meta name="twitter:image" content="{{ socialCard | strip }}" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@{{ site.username }}" />

	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="apple-touch-icon" type="image/png" href="/assets/images/device-icons/favicon-152.png" sizes="152x152" />
	<link rel="apple-touch-icon" type="image/png" href="/assets/images/device-icons/favicon-167.png" sizes="167x167" />
	<link rel="apple-touch-icon" type="image/png" href="/assets/images/device-icons/favicon-180.png" sizes="180x180" />
	<link rel="icon" type="image/png" href="/assets/images/device-icons/favicon-32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/assets/images/device-icons/favicon-128.png" sizes="128x128" />
	<link rel="icon" type="image/png" href="/assets/images/device-icons/favicon-192.png" sizes="192x192" />
	<link rel="icon" type="image/png" href="/assets/images/device-icons/favicon-196.png" sizes="196x196" />
	<meta name="msapplication-TileImage" content="/assets/images/device-icons/favicon-270.png" />

	<meta name="theme-color" content="{{ site.themeColor }}" />
	<meta name="msapplication-TileColor" content="{{ site.themeColor }}" />

	<meta name="apple-mobile-web-app-title" content="Ryan D." />
</head>
