<head>
	<meta charset="utf-8">

	<base href="{{ site.url }}" />

	{% for fontFile in fonts %}
		<link rel="preload" href="/fonts/{{ fontFile }}" as="font" type="font/woff2" crossorigin />
	{% endfor %}

	<link rel="stylesheet" href="/css/global.css" />

	{% if permalink == '/' %}
		<link rel="stylesheet" href="/css/home.css" />
	{% else %}
		<link rel="stylesheet" href="css/{{ layout }}.css" />
	{% endif %}

	{% if code %}
		<link rel="stylesheet" href="/css/code.css" />
	{% endif %}

	<title>{% if page.title %}{{ page.title | append: " - goodguyry.me" }}{% else %}{{ site.title }}{% endif %}</title>

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}" />

	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
	<meta name="author" content="Ryan Domingue" />
	<meta name="copyright" content="2009-{{ site.time | date: '%Y' }}" />
	<meta name="robots" content="index, follow" />

	<meta itemprop="name" content="{{ site.title }}">
	<meta itemprop="description" content="{{ site.description }}">
	<meta itemprop="image" content="{% if page.mainImage %}{{ page.mainImage | prepend: site.url }}{% else %}{{ '/images/ryandomingue-bw.jpg' | prepend: site.url }}{% endif %}" />

	<meta property="og:image" content="{% if page.mainImage %}{{ page.mainImage | prepend: site.url }}{% else %}{{ '/images/ryandomingue-bw.jpg' | prepend: site.url }}{% endif %}" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />
	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
	<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}" />
	<meta property="og:site_name" content="Good Guy Ry dot me" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />

	<meta name="twitter:title" content="{{ site.title }}" />
	<meta name="twitter:description" content="{{ site.description }}" />
	<meta name="twitter:image" content="{{ '/card.png' | prepend: config.url }}" />
	<meta name="twitter:card" content="summary_large_image" />
	{% if site.twitterUsername %}
		<meta name="twitter:site" content="{{ site.twitterUsername }}" />
	{% endif %}

	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="initial-scale=1.0, width=device-width, minimum-scale=1.0, user-scalable=1" />

	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="apple-touch-icon" type="image/png" href="/images/device-icons/favicon-152.png" sizes="152x152" />
	<link rel="apple-touch-icon" type="image/png" href="/images/device-icons/favicon-167.png" sizes="167x167" />
	<link rel="apple-touch-icon" type="image/png" href="/images/device-icons/favicon-180.png" sizes="180x180" />
	<link rel="icon" type="image/png" href="/images/device-icons/favicon-32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/images/device-icons/favicon-128.png" sizes="128x128" />
	<link rel="icon" type="image/png" href="/images/device-icons/favicon-192.png" sizes="192x192" />
	<link rel="icon" type="image/png" href="/images/device-icons/favicon-196.png" sizes="196x196" />
	<meta name="msapplication-TileImage" content="/images/device-icons/favicon-270.png" />

	<meta name="theme-color" content="{{ site.themeColor }}" />
	<meta name="msapplication-TileColor" content="{{ site.themeColor }}" />

	<meta name="apple-mobile-web-app-title" content="Ryan D." />
</head>
