<ul class="post-list">
	{% assign posts = collections.descendingPosts %}
	{% for post in posts limit: count %}
		<li class="post-list__post">
			<h3 class="post-list__title heading__base gradient-text">
				<a href="{{ post.url }}">{{ post.data.title }}</a>
			</h3>

			<p class="post-list__excerpt">{{ post.data.excerpt }}</p>
		</li>
	{% endfor %}
</ul>

{% if collections.post.size > count %}
	<a class="cta cta--post-list" href="{{ site.blogroll }}">
		<span>More Notes</span>
	</a>
{% else %}
	<a class="cta cta--post-list" href="{{ '/feed.xml' | prepend: site.url }}">
		<span>Subscribe via RSS</span>
	</a>
{% endif %}
