.list {
  list-style-type: none;
  margin-bottom: rem(50);

  @include breakpoint(768) {
    tidy-span: 6;
  }
}

.heading {
  @include heading-secondary;
  margin-bottom: rem(50);
}

.item {

  &:not(:last-of-type) {
    margin-bottom: rem(50);
  }
}

.title {
  @include heading-tertiary;
}

.more {
  @include more-link;
}
