@use 'core/utilities' as *;

@import './global/post-list';

.archive {
  @media (media(min, md)) {
    display: grid;
    grid-column-gap: rem(20);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      '. list list'
      '. cta cta';
  }
}
