@use 'core/utilities' as *;
@use 'core/typography';

@use 'global/post-content';
@use 'global/cta';

.post {
  /* tbd */
}

.post__content {
  margin-bottom: rem(30);
}

.post-footer {
  @media (media(min, md)) {
    tidy-span: 7;
  }

  hr {
    margin-bottom: var(--vertical-rhythm);
  }
}

.post-footer__feedback {
  @include typography.rich-text;
  line-height: 1.5;
}

.resources {
  --cta-offset: #{rem(30)};
  margin-bottom: rem(30);
}

.resources__heading {
  display: inline-block;
  font-size: rem(24);
  margin-bottom: rem(12);
  margin-left: calc(var(--heading-offset) - (var(--cta-offset) / 2)); // Reduce offset by box padding.
}

.resources__list {
  line-height: 1.5;
  list-style: disc outside none;
  margin-left: 1rem;

  a {
    color: var(--accent);
    text-decoration: underline;
  }
}
