/* stylelint-disable selector-max-specificity, declaration-no-important */

[class^="language-"] {
  --background: #212733;
  --accent: #FFCC66;
  --foreground: #CBCCC6;
  --ui: #707A8C;
  --tag: #5CCFE6;
  --func: #FFD580;
  --entity: #73D0FF;
  --string: #BAE67E; // rgb(188, 228, 136)
  --regexp: #95E6CB;
  --markup: #F28779;
  --keyword: #FFA759;
  --special: #FFDD99;
  --comment: #5C6773;
  --constant: #D4BFFF;
  --operator: #F29E74;
  --error: #FF3333;
}

.language-html {
  color: var(--white);

  .token {

    &.tag {
      color: var(--tag);
    }

    &.attr-name {
      color: var(--func);
    }

    &.attr-value {
      color: var(--string);

      .punctuation:first-child,
      .punctuation:last-child, {
        color: var(--string);
      }
    }
  }
}

.language-css {
  color: var(--keyword) !important;

  .token {

    &.punctuation {
      color: var(--white);
    }

    &.selector {
      color: var(--func);
    }

    &.property {
      color: var(--tag);
    }

    &.string {
      color: var(--string);
    }

    &.url {
      color: var(--string);

      .function {
        color: var(--markup);
      }
    }
  }
}

.language-scss {
  color: var(--keyword) !important;

  .token {

    &.punctuation {
      color: var(--white);
    }

    &.selector {
      color: var(--func);
    }

    &.property {
      color: var(--tag);
    }

    &.string {
      color: var(--string);
    }

    &.url {
      color: var(--markup);
    }
  }
}

.language-javascript {
  color: var(--white);

  .token {

    &.keyword,
    &.operator {
      color: var(--keyword);
    }

    &.number {
      color: var(--special);
    }

    &.function {
      color: var(--func);
    }

    &.string {
      color: var(--string);
    }

    &.comment {
      color: var(--comment);
    }

    &.parameter {
      color: var(--constant);
    }
  }
}

.language-json {
  color: var(--white);

  .token {

    &.property,
    &.string {
      color: var(--string);
    }

    &.number {
      color: var(--special);
    }
  }
}

.language-yml,
.language-yaml {
  color: var(--string) !important;

  .token {

    &.punctuation {
      color: var(--white);
    }

    &.key {
      color: var(--entity);
    }

    &.number {
      color: var(--special);
    }

    &.boolean {
      color: var(--special);
    }

    &.comment {
      color: var(--comment);
    }
  }
}

.language-php {

  .token {

    &.function {
      color: var(--markup);
    }

    &.string {
      color: var(--string);
    }

    &.operator,
    &.keyword {
      color: var(--keyword);
    }

    &.comment {
      color: var(--comment);
    }
  }
}

.language-shell-session {

  .token {

    &.output::before {
      color: var(--comment);
      content: '$';
      display: inline-block;
      margin-right: 0.5em;
    }
  }
}

.language-bash {

  .token {

    &.shebang,
    &.comment {
      color: var(--comment);
    }

    &.builtin {
      color: var(--markup);
    }

    &.constant {
      color: var(--special);
    }

    &.operator {
      color: var(--keyword);
    }

    &.keyword {
      color: var(--keyword);
    }

    &.variable {

      .function {
        color: var(--special);
      }
    }

    &.string {
      color: var(--string);

      .constant {
        color: var(--white);
      }
    }
  }
}

.language-liquid {

  .token {

    &.keyword {
      color: var(--entity);
    }

    &.operator {
      color: var(--keyword);
    }
  }
}
