.header {
  margin-bottom: rem(50);
}

.meta {
  font-size: rem(14);
  font-style: italic;
}

.title {
  font-size: rem(32);
  font-weight: 600;
}

:global(.post-content) {

  > *:not(figure) {
    @media (min(md)) {
      tidy-span: 6;
    }
  }
}

.content {
  margin-bottom: rem(50);
}
