/**
 * Common heading styles
 */

h1, h2, h3, h4, h5 {
  font-weight: 700;
  line-height: 1;

  // JS enabled but fonts not loaded
  .js:not(.fonts-loaded) & {
    font-family: Helvetica, sans-serif;
  }

  // Fonts loaded
  .fonts-loaded &,
  // JS disabled
  html:not(.fonts-loaded) & {
    font-family: $sans
  }
}

h1 {
  font-size: 2.6rem;
  margin-bottom: 0;
}

h2 {
  font-size: 2rem;
  margin-bottom: $vertical-rhythm;
}

// Shared margin-bottom value
$heading-margin: 0.25rem;

h3 {
  font-size: 1.5rem;
  margin-bottom: $heading-margin;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: $heading-margin;
}

h5 {
  font-size: 1rem;
  margin-bottom: $heading-margin;
}
