/**
 * Common objects
 */

// The content wrapper/container
.grid {
  position: relative; // To contain text selection highlighting

  @include responsive($max-grid-width) {
    max-width: $max-grid-width + px;
    padding: 0;
    margin: 0 auto;
  }
}

.blocks {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/**
 * Layout for multiple content blocks
 * - Stacked on small screens
 * - 50% on large screens
 */
.block {
  width: 100%;

  @include responsive(400) {
    // Split on larger screens
    width: 49%;
  }
}
