/**
 * Common objects
 */

// The content wrapper/container
.grid {
  position: relative; // To contain text selection highlighting

  @include responsive($max-grid-width) {
    max-width: $max-grid-width + px;
    padding: 0;
    margin: 0 auto;
  }
}

.blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
     -moz-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  // flex-direction: row;
  // flex-wrap: wrap;
         -webkit-box-pack: justify;
            -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
     -moz-justify-content: space-between;
          justify-content: space-between;
    -webkit-box-align: stretch;
       -ms-flex-align: stretch;
  -webkit-align-items: stretch;
     -moz-align-items: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
     -moz-align-content: stretch;
     -ms-flex-line-pack: stretch;
          align-content: stretch;
}

/**
 * Layout for multiple content blocks
 * - Stacked on small screens
 * - 50% on large screens
 */
.block {
  width: 100%;

  @include responsive(400) {
    // Split on larger screens
    width: 49%;
  }
}
