/**
 * Blog objects
 */

/**
 * The list of blog posts
 * Essentially just better vertical rhythm and no bullets
 * @TODO: Abstract the class name
 */
.post-list {
  list-style-type: none;
  margin-left: 0;

  li {
    margin-bottom: $vertical-rhythm;
  }
}

/**
 * The CTA for linking to more info/blog posts
 * @transition-duration: : Move this to overrides.helpers
 */
.more {
  font-size: $small-font-size;

  &:before {
    content: "\203A";
    display: inline;
    padding-right: 0.25em;
  }
}

/**
 * A box for alling attention to content
 * @TODO: Possibly abstract the class name
 */
.note {
  font: {
    size: $small-font-size;
    style: italic;
  }
  padding: 0.5em;
  color: $theme-font-light;
  background-color: $theme-decoration-light;
  border: 1px solid $theme-decoration-dark;
  border-radius: 3px;
}
