/**
 * Helper class overrides
 */

// The blog post date
.post-meta {
  font-size: 0.625em;
}

// Strikethrough text
.strike {
  color: $theme-font-light;
  text-decoration: line-through;
}

// Hide it
.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 0;
  height: 0;
  overflow: hidden;
  line-height: 0;
  opacity: 0;
}

// Style math equations as code
// @TODO: Clean this up
.math {
  font: {
    family: $monospace-font-family;
    size: $small-font-size;
  }
}
