/**
 * Helper class overrides
 */

/**
 * The list of blog posts
 * Essentially just better vertical rhythm and no bullets
 */
.post-list {
  list-style-type: none;
  margin-left: 0;

  li {
    margin-bottom: $vertical-rhythm;
  }
}

// A box for calling attention to content
.hey {
  font: {
    size: $small-font-size;
    style: italic;
  }
  padding: 0.5rem;
  color: $theme-font-light;
  background-color: $theme-decoration-light;
  border: 1px solid $theme-decoration-dark;
  border-radius: 3px;
}

// The CTA for linking to more info/blog posts
.more {
  font-size: $small-font-size;

  &:before {
    content: "\203A";
    display: inline;
    padding-right: 0.25rem;
  }
}

// The blog post date
.post-meta {
  font-size: 0.625rem;
}

// Strikethrough text
.strike {
  color: $theme-font-light;
  text-decoration: line-through;
}

// Hide it
.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 0;
  height: 0;
  overflow: hidden;
  line-height: 0;
  opacity: 0;
}
