/**
 * Typography
 * @param $context  A string describing the context
 */

@mixin font($context) {
  @if $context == 'content' {
    font: {
      family: 'Merriweather', serif;
      weight: normal;
      style: normal;
    }
  } @else if $context == 'heading' {
    font: {
      family: 'Lato', sans-serif;
      weight: bold;
      style: normal;
    }
  } @else if $context == 'code' {
    font: {
      family: Consolas, Monaco, 'Andale Mono', monospace;
      weight: normal;
      style: normal;
      size: 0.7rem;
    }
  }
}

/**
 * Simple media query
 * Takes a pixel length, converts it to ems and adds the passed style declarations
 * Media query condition is always min-width
 * @param $px  The pixel length to be converted to ems
 * @param $mm  Min/Max switch; defaults to min-width
 *
 * @include responsive(px) { ... }
 */
@mixin responsive($px, $mm: 'min') {
  $width: ($px/16) + em;
  @media only screen and (#{$mm}-width: ($width)) { @content; }
}

/**
 * Add a 200ms transition
 * @param $properties  A list of the properties to be transitioned
 *
 * @include transition((property-1[, property-2]));
 */
@mixin transition($properties...) {

  $values: ();

  @each $property in $properties {
    $values: append($values, $property .2s ease, comma);
  }

  transition: $values;
}
