/* stylelint-disable at-rule-empty-line-before */
/**
 * Simple media query
 * Takes a pixel length, converts it to ems and adds the passed style declarations
 * Media query condition is always min-width
 * @param $px  The pixel length to be converted to ems
 * @param $mm  Min/Max switch; defaults to min-width
 *
 * @include breakpoint(px) { ... }
 */
@mixin breakpoint($px, $mm: 'min') {
  $width: ($px/16) + em;
  @media only screen and (#{$mm}-width: ($width)) {
    @content;
  }
}

/**
 * Add a 200ms transition
 * @param $properties  A list of the properties to be transitioned
 *
 * @include transition((property-1[, property-2]));
 */
@mixin transition($properties...) {

  $values: ();

  @each $property in $properties {
    $values: append($values, $property 0.2s ease, comma);
  }

  transition: $values;
}
