.posts-wrapper {
  display: grid;
  grid-row-gap: rem(50);
}

.post-list-heading {
  @include heading-secondary;
}

:global(.post-content) {
  @include content-text;
  position: relative;

  @include breakpoint(768) {
    @include global-grid;
    display: grid;

    > * {
      grid-column: 1 / span 6;
    }
  }
}
