{% assign global-nav = site.data.classnames.global-nav %}
{% assign nav = site.data.nav %}
{% assign navurl = page.url | remove: 'index.html' %}

<nav role="navigation" class="{{ global-nav.wrapper }}">

	{% if page.permalink == '/' %}

		<a class="{{ global-nav.link }}" href='/about/'>I am Ryan</a>.

	{% else %}

		<ul class="{{ global-nav.list }}">
			{% for item in nav %}
				<li class="{{ global-nav.item }}">{% if item.url == navurl %}{{ item.text }}{% else %}<a class="{{ global-nav.link }}" href="{{ item.url }}">{{ item.text }}</a>{% endif %}</li>
			{% endfor %}
		</ul>

	{% endif %}
</nav>
