{% assign global-header = site.data.classnames.global-header %}

<!-- front -->
<header role="banner" class="{{ global-header.wrapper }}">
	{% if page.permalink == '/' %}

		<h1 class="{{ global-header.page-title }}">Greetings, Earthling!</h1>

	{% elsif page.layout == 'post' %}

		<h2 class="{{ global-header.page-title }}">{{ site.heading_blog }}</h2>

	{% else %}

		<h1 class="{{ global-header.page-title }}">{{ page.title }}</h1>

	{% endif %}

	{% include components/global-nav.html %}
</header>
