{% assign projects = site.data.classnames.projects %}

<section class="{{ projects.wrapper }}">

	<h2 class="{{ projects.heading }}">{{ site.heading_projects }}</h2>

	<ul class="{{ projects.list }}">
		{% for project in site.data.projects %}
			<li class="{{ projects.item }}">

				<h3 class="{{ projects.title }}">
					<a href="{{ project.url }}">{{ project.name }}</a>
				</h3>

				<p>{{ project.description }}</p>

			</li>
		{% endfor %}
	</ul>

	<a class="{{ projects.more }}" href="{{ site.github_base_url }}">See more on GitHub</a>

</section>
