@use 'core/utilities' as *;
@use 'core/typography';

/**
 * Styles the homepage About block.
 */

.about {
  display: grid;
  grid-gap: rem(20);
  margin-bottom: rem(60);

  @media (min-width(lg)) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.about__content {
  @include typography.rich-text;
  max-width: rem(460);

  @media (min-width(lg)) {
    max-width: none;
  }
}
