@use 'core/layout';
@use 'core/typography';
@use 'core/utilities' as *;

/**
 * Common base styles.
 */

:root {
  --rgb-accent: 0, 132, 132;
  --rgb-secondary: 92, 11, 170;
  --rgb-black: 0, 0, 0;

  --accent: rgb(var(--rgb-accent));
  --secondary: rgb(var(--rgb-secondary));

  --white: #FFFFFF;
  --black: #333333;
  --actual-black: rgb(var(--rgb-black));
  --decoration: #CCCCCC;

  // RGBA alternates.
  --black-40: rgba(var(--rgb-black), 0.4);
  --accent-80: rgba(var(--rgb-accent), 0.8);
  --secondary-80: rgba(var(--rgb-secondary), 0.8);
  --accent-10: rgba(var(--rgb-accent), 0.1);
  --secondary-10: rgba(var(--rgb-secondary), 0.1);

  --background-gradient: linear-gradient(to right, var(--accent-80), var(--secondary-80));
  --text-gradient: linear-gradient(to right, var(--accent) 0%, var(--secondary) 100%);
  --border-radius: 2px;
  --vertical-rhythm: #{rem(24)};
  --clip-distance: 6vw;
  --heading-offset: tidy-offset(1);

  @media (media(min, md)) {
    --heading-offset: tidy-offset(1);
  }

  @media (media(min, full)) {
    --heading-offset: tidy-offset-full(1);
  }
}

:root {
  font-size: medium;
}

body {
  background-color: var(--white);
  color: var(--black);
  display: flex;
  flex-direction: column;
  font-family: typography.$primary;
  font-size: rem(16);
  min-height: 100vh;
  overflow-x: hidden; // Prevent projects section background overflow in some browsers.
}

main {
  flex: 1 0 auto;
  margin-bottom: rem(100);
}

// @todo make this more flexible, and/or find better link styles.
a {

  &,
  &:visited {
    color: inherit;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

::selection {
  background: var(--accent-10);
  color: var(--secondary);
}

img::selection {
  background: var(--accent-10);
  color: var(--secondary);
}

hr {
  background: var(--text-gradient);
  height: 2px;
  max-width: rem(200);
}

.text-only-content {
  @include text-only-content;
}

.container {
  @include layout.container;
}

.heading__section {
  font-size: clamp(rem(30), 11vw, rem(62));
}

.gradient-text {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
