/**
 * SourceSerifPro
 */

@font-face {
  font-family: 'SourceSerifPro';
  src: url('/fonts/SourceSerifPro-Regular.woff2') format('woff2'),
    url('/fonts/SourceSerifPro-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSerifPro';
  src: url('/fonts/SourceSerifPro-Italic.woff2') format('woff2'),
    url('/fonts/SourceSerifPro-Italic.woff') format('woff');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSerifPro';
  src: url('/fonts/SourceSerifPro-SemiBold.woff2') format('woff2'),
    url('/fonts/SourceSerifPro-SemiBold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSerifPro';
  src: url('/fonts/SourceSerifPro-SemiBoldItalic.woff2') format('woff2'),
    url('/fonts/SourceSerifPro-SemiBoldItalic.woff') format('woff');
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}
