@use 'core/utilities' as *;
@use 'core/layout';

/**
 * Styles the list of Notes posts.
 */

.post-list {
  display: grid;
  grid-area: list;
  grid-gap: rem(50);
  margin-bottom: rem(50);
}

.post-list__post {
  /* tbd */
}

.post-list__title {
  display: inline-block;
  font-size: clamp(rem(30), 8vw, rem(36));
  margin-bottom: rem(12);

  a {
    text-decoration: none;

    &:hover,
    &:focus-visible {
      border-bottom: 2px solid;
      outline: none;
    }
  }
}

.post-list__excerpt {
  @media (min-width(md)) {
    padding-left: tidy-offset(2);
  }
}

.cta--post-list {
  @include layout.auto-margins;
  grid-area: cta;
}
