@use 'core/utilities' as *;
@use 'core/layout';
@use 'core/theme';

/**
 * Styles the homepage Projects section.
 */

.projects {
  @include theme.in-gradient-selection;
  color: var(--white);
  margin-bottom: rem(20);
  padding: rem(28) 0;
  position: relative;
  z-index: 0;

  @media (min-width(md)) {
    padding: rem(50) 0 rem(80) 0;
  }

  &::after {
    background: var(--background-gradient);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: skew(-3.4deg) rotate(-3.4deg);
    width: 100%;
    z-index: -1;
  }
}

.projects__heading {
  margin-bottom: rem(32);
  text-align: center;
}

.projects__list {
  display: grid;
  grid-gap: rem(40);
  justify-content: center;
  margin-bottom: rem(40);

  @media (min-width(md)) {
    @include layout.three-across-grid
  }
}

.projects__link {
  @include layout.auto-margins;
  display: block;
  width: max-content;

  @media (min-width(md)) {
    margin-right: 0;
  }
}

.project {
  align-items: center;
  background-color: var(--black-40);
  border-radius: var(--border-radius);
  display: flex;
  max-width: rem(335);
  min-height: rem(145);
  padding: rem(20) 0;
  text-align: center;

  @media (min-width(md)) {
    max-width: none;
  }
}

.project__content {
  @include layout.auto-margins;
  padding: 0 rem(44);

  @media (min-width(md)) {
    padding: 0 rem(20);
  }
}

.project__title {
  // Revert the list style override.
  --link--focus--outline-offset: initial;
  font-size: rem(24);
  margin-bottom: rem(12);

  a {
    @include remove-helpful-link-underline;
  }
}

.project__description {
  /* tbd */
}
