
/*
 * Remove all the styles of the "User-Agent-Stylesheet", except for certain
 * properties necessary for accessibility and/or layout.
 *
 * The `:where()` pseudo-class is used to reduce the specificity of `:not()`
 * so these styles are easily overridden.
 *
 * https://elad2412.github.io/the-new-css-reset/
 */
*:where(
  // 1. Replaced elements.
  // 2. Omit SVGs so they render as expected.
  // 3. Lists are reset further down.
  :not(img, video, audio, use):not(svg, svg *, symbol *):not(ol, ul)
) {
  all: unset;

  cursor: revert;
  display: revert;
  outline: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
 * Using `:focus-within` prevents smooth scrolling while jumping through browser
 * in-page search results.
 *
 * https://piccalil.li/blog/a-modern-css-reset/
 */
@media (prefers-reduced-motion: no-preference) {

  html:focus-within {
    scroll-behavior: smooth;
  }
}

img,
picture {
  display: block;
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0;
}

a {
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: revert;
  }
}

ol,
ul {
  margin: 0;
  padding: 0;

  /*
   * Remove list styles on ul, ol elements with a list role, which suggests
   * default styling will be removed.
   *
   * https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html
   */
  &[role='list'] {
    list-style: none;
  }
}

svg {
  display: block;
  pointer-events: none;
}
