@use 'core/utilities' as *;
@use 'core/reset';
@use 'core/theme';

/**
 * Styles the site header, visible on all but the homepage.
 */

.site-header {
  @include theme.in-gradient-selection;
  background: var(--background-gradient);
  clip-path: polygon(0 100%, 100% calc(100% - var(--clip-distance)), 100% 0, 0 0);
  color: var(--white);
  min-height: rem(162);
  padding: rem(22) 0 var(--clip-distance) 0;
  margin-bottom: rem(25);

  @media (media(min, full)) {
    min-height: rem(186);
  }
}

.site-header__nav {
  font-size: rem(20);
  margin-bottom: rem(10);
}

.site-header__menu {
  @include reset.list;
  display: flex;

  li:not(:last-of-type) {
    margin-right: rem(25);
  }

  a {

    &:focus,
    &:hover {
      text-decoration: none;
      border-bottom: 1px solid;
    }
  }
}

.site-header__title {
  line-height: 1.2;
}

.site-header__meta {
  font-size: rem(14);
  font-style: italic;
  margin-bottom: rem(12);
}
