@use 'core/utilities' as *;
@use 'core/theme';

/**
 * Styles the global site header.
 */

.site-header {
  margin-bottom: rem(25);
  padding-top: rem(22);

  body:not(.home) & {
    @include theme.in-gradient-selection;
    background: var(--background-gradient);
    clip-path: polygon(0 100%, 100% calc(100% - var(--clip-distance)), 100% 0, 0 0);
    color: var(--white);
    min-height: rem(162);
    padding-bottom: var(--clip-distance);

    @media (min-width(full)) {
      min-height: rem(186);
    }
  }
}

.site-header__nav {
  font-size: rem(20);
  margin-bottom: rem(10);
}

.site-header__menu {
  display: flex;

  li:not(:last-of-type) {
    margin-right: rem(25);
  }

  a {
    @include remove-helpful-link-underline;

    &[aria-current=page]:not(:hover,:focus-visible) {
      text-decoration: overline;
    }
  }
}

.site-header__title {
  line-height: 1.2;

  .home & {
    color: var(--accent);
    font-size: clamp(rem(40), 14vw, rem(78));
    margin-left: var(--heading-offset);
  }
}

.site-header__meta {
  font-size: rem(14);
  font-style: italic;
  margin-bottom: rem(12);
}
