@use 'core/layout';
@use 'core/utilities' as *;
@use 'core/theme';

/**
 * Styles the global site footer.
 */

.site-footer {
  @include theme.in-gradient-selection;
  background: var(--background-gradient);
  clip-path: polygon(0 var(--clip-distance), 0 100%, 100% 100%, 100% 0);
  color: var(--white);
  padding: var(--clip-distance) 0 rem(16) 0;
}

.container--footer {
  padding-top: rem(10);

  @media (min-width(full)) {
    display: flex;
    justify-content: space-between;
    padding-top: rem(20);
  }
}

.site-footer__copyright {
  text-align: right;

  @media (min-width(full)) {
    text-align: unset;
  }
}

.site-footer__notice {
  text-align: right;
}
