@use 'core/layout';
@use 'core/typography';

/**
 * Common base styles
 */

:root {
  --white: #FFFFFF;
  --black: #333333;
  --actual-black: #000000;
  --accent: #008583;
  --secondary: #5C0BAA;
  --decoration: #CCCCCC;

  --background-gradient: linear-gradient(to right, rgba(var(--accent), 0.7) 0%, rgba(var(--secondary), 0.7) 100%);
  --text-gradient: linear-gradient(to right, var(--accent) 0%, var(--secondary) 100%);
}

// Adjust base font size for screen size
:root {
  font-size: medium;
}

body {
  width: 100%;
  font-family: typography.$primary;
  font-weight: 400;
  font-size: rem(16);
  line-height: normal;
  background-color: var(--white);
  color: var(--black);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

::selection {
  background: var(--accent);
  color: var(--white);
}

// Invert anchors to keep them legible
a::selection {
  color: var(--actual-black);
}

img::selection {
  background: var(--accent);
  color: var(--white);
}

.container {
  @include layout.container;
}

.gradient-text {
  background: var(--text-gradient);
  background-clip: text;
  display: block;
  -webkit-text-fill-color: transparent;
}
