/**
 * Common base styles
 */

// Adjust base font size for screen size
:root {
  font-size: medium;
}

body {
  width: 100%;
  font-family: $global-font;
  font-weight: 200;
  font-size: rem(18);
  line-height: $line-height;
  background-color: $theme-base;
  color: $theme-font-dark;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  padding: rem(50 0 24 0);
  text-rendering: optimizeSpeed;
}

a {
  color: $theme-main;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

::selection {
  background: $theme-secondary;
  color: $theme-base;
}

// Invert anchors to keep them legible
a::selection {
  color: $theme-font-dark;
}

img::selection {
  background: $theme-secondary;
  color: $theme-base;
}

hr {
  border: none;
  height: 1px;
  width: 60%;
  background-color: $theme-decoration-dark;
  margin-bottom: $double-vertical-rhythm;
}
