@use 'core/layout';
@use 'core/typography';
@use 'core/utilities' as *;

/**
 * Common base styles
 */

:root {
  --rgb-accent: 0, 133, 131;
  --rgb-secondary: 92, 11, 170;
  --rgb-black: 0, 0, 0;

  --accent: rgb(var(--rgb-accent));
  --secondary: rgb(var(--rgb-secondary));

  --white: #FFFFFF;
  --black: #333333;
  --actual-black: rgb(var(--rgb-black));
  --decoration: #CCCCCC;

  // RGBA alternates.
  --black-40: rgba(var(--rgb-black), 0.4);
  --accent-70: rgba(var(--rgb-accent), 0.7);
  --secondary-70: rgba(var(--rgb-secondary), 0.7);
  --accent-10: rgba(var(--rgb-accent), 0.1);
  --secondary-10: rgba(var(--rgb-secondary), 0.1);

  --background-gradient: linear-gradient(to right, var(--accent-70), var(--secondary-70));
  --text-gradient: linear-gradient(to right, var(--accent) 0%, var(--secondary) 100%);
  --border-radius: 2px;
  --vertical-rhythm: #{rem(24)};
  --clip-distance: 6vw;
}

// Adjust base font size for screen size
:root {
  font-size: medium;
}

body {
  width: 100%;
  font-family: typography.$primary;
  font-weight: 400;
  font-size: rem(16);
  line-height: normal;
  background-color: var(--white);
  color: var(--black);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
}

main {
  margin-bottom: rem(100);
}

a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

::selection {
  background: var(--accent-10);
  color: var(--secondary);
}

img::selection {
  background: var(--accent-10);
  color: var(--secondary);
}

hr {
  background: var(--text-gradient);
  max-width: rem(200);
}

.container {
  @include layout.container;
}

.heading__base {
  @include typography.heading-base;
}

.gradient-text {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta {
  --cta-offset: var(--cta-after-offset, #{rem(16)});
  display: block;
  padding: calc(var(--cta-offset) / 2);
  position: relative;
  width: max-content;
  z-index: 0;

  ::selection {
    background: unset;
    color: unset;
  }

  span {
    background: var(--cta-bg, var(--white));
    border: 1px solid;
    color: var(--cta-color, var(--accent));
    display: block;
    padding: calc(var(--cta-offset) / 2);
  }

  &:hover,
  &:focus {
    text-decoration: none;

    &::after {
      transform: translate(0);
    }
  }

  &:focus {
    outline: none;

    span {
      @include focus-ring;
    }
  }

  &::after {
    background: var(--cta-after-bg, var(--text-gradient));
    content: '';
    display: block;
    height: calc(100% - var(--cta-offset));
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(var(--cta-offset), var(--cta-offset));
    transition: transform 150ms ease;
    width: calc(100% - var(--cta-offset));
    z-index: -2;
  }
}
