/**
 * Lato (headings)
 */

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.woff2') format('woff2'),
    url('../fonts/Lato-Bold.woff') format('woff'),
    url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-BoldItalic.woff2') format('woff2'),
    url('../fonts/Lato-BoldItalic.woff') format('woff'),
    url('../fonts/Lato-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/**
 * Merriweather (body text)
 */

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Light.woff2') format('woff2'),
    url('../fonts/Merriweather-Light.woff') format('woff'),
    url('../fonts/Merriweather-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-LightItalic.woff2') format('woff2'),
    url('../fonts/Merriweather-LightItalic.woff') format('woff'),
    url('../fonts/Merriweather-LightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Bold.woff2') format('woff2'),
    url('../fonts/Merriweather-Bold.woff') format('woff'),
    url('../fonts/Merriweather-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-BoldItalic.woff2') format('woff2'),
    url('../fonts/Merriweather-BoldItalic.woff') format('woff'),
    url('../fonts/Merriweather-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
