/**
 * Lato (headings)
 */

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.woff2') format('woff2'),
    url('../fonts/Lato-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-BoldItalic.woff2') format('woff2'),
    url('../fonts/Lato-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

/**
 * Merriweather (body text)
 */

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Light.woff2') format('woff2'),
    url('../fonts/Merriweather-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-LightItalic.woff2') format('woff2'),
    url('../fonts/Merriweather-LightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Bold.woff2') format('woff2'),
    url('../fonts/Merriweather-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-BoldItalic.woff2') format('woff2'),
    url('../fonts/Merriweather-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

/**
 * Gelasio
 */

@font-face {
  font-family: 'Gelasio';
  src: url('../fonts/Gelasio-Regular.woff2') format('woff2'),
    url('../fonts/Gelasio-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gelasio';
  src: url('../fonts/Gelasio-Italic.woff2') format('woff2'),
    url('../fonts/Gelasio-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gelasio';
  src: url('../fonts/Gelasio-Medium.woff2') format('woff2'),
    url('../fonts/Gelasio-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gelasio';
  src: url('../fonts/Gelasio-MediumItalic.woff2') format('woff2'),
    url('../fonts/Gelasio-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gelasio';
  src: url('../fonts/Gelasio-SemiBold.woff2') format('woff2'),
    url('../fonts/Gelasio-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gelasio';
  src: url('../fonts/Gelasio-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/Gelasio-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Gelasio';
  src: url('../fonts/Gelasio-Bold.woff2') format('woff2'),
    url('../fonts/Gelasio-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gelasio';
  src: url('../fonts/Gelasio-BoldItalic.woff2') format('woff2'),
    url('../fonts/Gelasio-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
