@use 'core/layout';
@use 'core/utilities' as *;
@use 'core/theme';

.site-footer {
  @include theme.in-gradient-selection;
  align-items: flex-end;
  background: var(--background-gradient);
  clip-path: polygon(0 49%, 0 100%, 100% 100%, 100% 0);
  color: var(--white);
  display: flex;
  padding: rem(50) 0 rem(16) 0;
}

.container--footer {
  align-items: center;
  display: grid;
  grid-row-gap: rem(6);

  @media (media(min, full)) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.site-footer__copyright {
  text-align: right;

  @media (media(min, full)) {
    text-align: unset;
  }
}

.site-footer__notice {
  text-align: right;
}
