@import "../core/core";

// TODO
.grid {
  position: relative; // To contain text selection highlighting

  @include breakpoint($site-max) {
    max-width: rem($site-max);
    padding: 0;
    margin: 0 auto;
  }
}
