/**
 * Nav component
 */

.wrapper {
  width: 100%;
  height: 1.5rem;
  font-size: rem(18);
}

.list {
  display: flex;
  margin-bottom: 0;
  margin-left: 0;
  list-style-type: none;
}

.item {

  &:not(:first-child)::before {
    content: '/';
    display: inline;
    margin: 0 0.5rem;
  }
}

.link {
  /* tbd */
}
