{% assign classes = site.data.classnames.default %}

<!DOCTYPE html>
<!--#if expr="$HTTP_COOKIE=/fonts_loaded\=true/" -->
<html class="fonts-loaded">
<!--#else -->
<html>
<!--#endif -->

{% include head.html %}

<body>

	<div class="{{ classes.wrapper }}">

		{% include components/global-header.html %}

		{% assign classes = site.data.classnames.default %}
		<main role="main" class="{{ classes.main }}">

			{{ content }}

		</main>

		{% include components/global-footer.html %}

	</div>

	<!-- build: {{ site.time }} -->

	{% include main.js.html %}

</body>

</html>
