<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
	{% unless permalink == '/' %}
		<header role="banner" class="site-header">
			<div class="container">
				{% assign navurl = page.url | remove: 'index.html' %}

				<nav role="navigation" class="site-header__nav">
					<ul class="site-header__menu">
						{% for item in nav %}
							<li>{% if item.url == navurl %}{{ item.text }}{% else %}<a href="{{ item.url }}">{{ item.text }}</a>{% endif %}</li>
						{% endfor %}
					</ul>
				</nav>

				<h1 class="site-header__title heading__base heading__section">{{ title }}</h1>

				{% if layout == 'post' %}
					<time class="site-header__meta" datetime='{{ page.date | date: "%Y-%m-%d %H:%M%z" }}'>{{ page.date | date: "%B %d, %Y" }}</time>
				{% endif %}
			</div>
		</header>
	{% endunless %}

	<main role="main">
		{{ content }}
	</main>

	<footer role="contentinfo" class="site-footer">
		<div class="container container--footer">
			<p class="site-footer__copyright">&copy;2009&ndash;{{ page.date | date: '%Y' }} Ryan Domingue</p>

			{% capture github_url %}{% account 'github' %}{% endcapture %}
			<p class="site-footer__notice">This site&rsquo;s source is on <a href="{{ github_url | append: '/goodguyry.me' }}">Github</a>.</p>
		</div>
	</footer>

	<!-- build: {{ page.date | date: '%Y' }} -->
</body>
</html>
