{% assign default = site.data.classnames.default %}
{% assign assets = site.data.assets %}
{% assign strings = site.data.strings %}

<!DOCTYPE html>
<!--#if expr="$HTTP_COOKIE=/fonts_loaded\=true/" -->
<html class="fonts-loaded">
<!--#else -->
<html>
<!--#endif -->

{% include head.html %}

<body>

	<div class="{{ default.wrapper }}">

		{% include components/global-header.html %}

		<main role="main" class="{{ default.main }}">

			{{ content }}

		</main>

		{% include components/global-footer.html %}

	</div>

	<!-- build: {{ site.time }} -->

	<script src="/build/{{ assets.base.js }}"></script>

</body>

</html>
