---
layout: default
---

<article>
	<header class="{{ classnames.post.header }}">
		<p class="{{ classnames.post.meta }}">
			<time datetime="{{ page.date | date: "%F %R %Z"}}">{{ page.date | date: "%B %-d, %Y" }}</time>
		</p>

		<h1 class="{{ classnames.post.title }}">{{ page.title }}</h1>
	</header>

	<div class="post-content {{ classnames.post.content }}">
		{{ content }}
	</div>

	<hr class="{{ classnames.post.divider }}">

	{% unless page.resources.size == 0 or page.tags contains 'personal' %}
		{% include components/post-footer.html %}
	{% endunless %}
</article>
