---
layout: default
---

<article class="post container">
	<div class="post-content post__content">
		{{ content }}
	</div>

	{% unless page.resources.size == 0 or page.tags contains 'personal' %}
		<footer class="post-footer">
			{% if resources %}
				<div class="resources">
					<div class="resources__inner">
						<h3 class="resources__heading heading__base base__gradient-text">{% if page.resources.size < 2 %}Additional resource{% else %}Additional resources{% endif %}</h3>

						<ul class="resources__list">
							{% for resource in resources %}
								<li><a href="{{ resource.url }}">{{ resource.text }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endif %}

			{% unless tags contains 'personal' %}
				{% unless resources %}
					<hr />
				{% endunless %}

				{% capture github_url %}{% account 'github' %}{% endcapture %}

				<div class="post-footer__feedback">
					<p><em>See something that&rsquo;s not quite right? Have a question about something in this post? <a href="{{ github_url | append: '/goodguyry.me/issues/new' }}">Open an issue on Github</a> or <a href="{% account 'twitter' %}">let me know on Twitter</a>.</em></p>
				</div>
			{% endunless %}
		</footer>
	{% endunless %}
</article>
