---
layout: default
---
{% assign classes = site.data.classnames.post %}

<article>
	<header class="{{ classes.header }}">
		<p class="{{ classes.meta }}">
			<time datetime="{{ page.date | date: "%F %R %Z"}}">{{ page.date | date: "%B %-d, %Y" }}</time>
		</p>

		<h1 class="{{ classes.title }}">{{ page.title }}</h1>
	</header>

	<div class="post-content {{ classes.content }}">
		{{ content }}
	</div>

	<hr class="{{ classes.divider }}">

	{% unless page.resources.size == 0 or page.tags contains 'personal' %}
		{% include components/post-footer.html %}
	{% endunless %}
</article>
