.wrapper {
  @include container;
  color: $theme-font-dark;
  font-size: rem(14);
  height: auto;
  padding-bottom: $gutter-spacing;

  p {
    margin: 0;
  }
}

.powered-by {
  font-size: rem(12);
}
