@use 'core/utilities' as *;
@use 'core/typography';

$vertical-rhythm: rem(24);

/**
 * Headings
 */
@mixin content-headings {

  h2,
  h3,
  h4,
  h5 {
    @include typography.heading-base;
    line-height: 1;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: $vertical-rhythm;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: $vertical-rhythm;
  }

  h4 {
    font-size: 1.25rem;
    margin-bottom: $vertical-rhythm;
  }

  h5 {
    font-size: 1rem;
    margin-bottom: $vertical-rhythm;
  }
}

/**
 * Inline text styles.
 */
@mixin content-text {
  line-height: 1.5; // Applied to .post-content when included.

  /**
   * Most of the <p> element's styling will be inherited from <body>
   * Overrides:
   *     _components.footer: <footer>
   *     _overrides.block: <blockquote>
   */
  p:not(:last-child) {
    margin-bottom: $vertical-rhythm;
  }

  a {
    color: var(--accent);
    text-decoration: underline;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: 600;
  }

  del,
  strike,
  .strike {
    color: var(--decoration);
    text-decoration: line-through;
  }

  sub,
  sup {
    line-height: 0;
  }

  kbd {
    padding: 0.05rem 0.2rem;
    font-family: typography.$mono;
    border: 1px solid var(--decoration);
    background-color: #393939;
    color: var(--white);
    border-radius: var(--border-radius);
  }

  cite {
    font-style: italic;
  }

  abbr[title] {
    border-bottom: 1px dotted var(--decoration);
    text-decoration: none;
    cursor: help;
  }

  output {
    font-weight: 600;
  }
}

@mixin content-quotes {
  /**
   * Full-width, double-lined box with large text
   */
  blockquote {
    width: 100%;
    margin-bottom: $vertical-rhythm;
    padding: 0.5rem;
    border-top: 3px double var(--decoration);
    border-bottom: 3px double var(--decoration);
    font-size: 1.25rem;
    quotes: none;

    &::before,
    &::after {
      content: '';
      content: none;
    }
  }

  blockquote {

    p {
      margin-bottom: 0.875rem;
    }

    // To eliminate odd spacing at the bottom of the
    //  <blockquote> box
    p:last-of-type {
      margin-bottom: 0;
    }

    // The quote citation
    span {
      text-align: right;
      font-size: 0.75rem;
      display: block;

      // Add a little dash before the quote citation
      &::before {
        content: "-";
        margin-right: 0.25rem;
      }
    }
  }
}

@mixin content-code {
  /**
   * This is mostly setup for <code>
   * - Some padding for breathing room
   * - The colored background
   */
  pre {
    padding: 1rem;
    position: relative;
    background-color: #1F2430;
  }

  /**
   * Code samples
   * Syntax highlighting found in /css/code.scss
   */
  code {
    overflow: auto;
    max-width: 100%;
    position: relative;
    line-height: inherit;
    font-family: typography.$mono;
    white-space: pre;
    hyphens: none;
  }

  // All code blocks
  pre code {
    font-size: rem(14);
    height: 100%;
    display: block;
    color: rgb(255, 255, 255);
    tab-size: 2;
  }

  // Inline code
  p,
  li {

    code {
      background-color: var(--decoration-light);
      border-radius: var(--border-radius);
      border: 1px solid var(--decoration);
      color: var(--black);
      display: inline-block;
      font-size: 0.85rem;
      margin-bottom: -0.4em;
      padding: 0 0.15rem;
    }
  }

  // Inline code that's inside an anchor
  a code {
    color: var(--accent);
  }

  // Style file and directory paths as code,
  //  but without the border
  code.path {
    border: none;
    color: var(--black);
  }

  // To keep code/path font sizes consistent within the figcaptions
  figcaption code {
    font-size: inherit;
  }
}

@mixin content-images {

  @media (media(min, full)) {

    > *:not(figure):not(hr) {
      tidy-span: 7;
    }

    figure {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      pre,
      img {
        tidy-span: 8;
      }

      figcaption {
        tidy-span: 4;
      }
    }
  }

  figure {
    margin-bottom: $vertical-rhythm;
  }

  figcaption {
    font-size: rem(14);
  }

  img {
    display: block;
    max-width: 100%;
  }
}

/**
 * Common list styles
 */
@mixin content-lists {

  ul,
  ol {
    margin-bottom: $vertical-rhythm;
  }

  ul {
    list-style: disc outside none;
    margin-left: 1rem;
  }

  ol {
    list-style: decimal outside none;
    margin-left: 1.5rem;
  }

  // Nested lists
  li ul,
  li ol {
    margin-bottom: 0;
    padding-left: 1.5rem;
  }

  li ul {
    list-style-type: circle;
  }

  li ol {
    list-style-type: lower-alpha;
  }
}

@mixin content-block-level {

  hr {
    margin-bottom: $vertical-rhythm;
  }
}

@mixin content-hey {

  .hey {
    border-radius: var(--border-radius);
    border: 1px solid var(--decoration);
    border-top-width: 10px;
    font-style: italic;
    padding: rem(12);
  }
}
