@use 'core/utilities' as *;

/**
 * Centered block.
 */
@mixin auto-margins {
  margin-left: auto;
  margin-right: auto;
}

/**
 * Full-width container minus edge spacing.
 */
@mixin container {
  @include auto-margins;
  max-width: rem(960);
  position: relative; // To contain text selection highlighting
  width: calc(100% - #{rem(40)});
}
