/**
 * The CTA for linking to more info/blog posts.
 */
@mixin more-link {
  font-size: rem(16);
  padding-top: rem(5);
  position: relative;
  width: max-content;

  &::before {
    background-color: currentColor;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &:hover {
    text-decoration: none;
  }
}
