$mono: Consolas, Monaco, 'Andale Mono', monospace;
$global-font: 'Gelasio', 'Palatino', 'Georgia', serif;

$line-height: 1.5;
$small-font-size: rem(14);

// Shared margin-bottom value
$heading-margin: 0.25rem;

// Fallback fonts until they're loaded
@mixin fonts-loaded {
  // JS enabled but fonts not loaded
  .js:not(.fonts-loaded) & {
    font-family: 'Palatino', 'Georgia', serif;
  }

  // Fonts loaded
  .fonts-loaded &,
  // JS disabled
  html:not(.fonts-loaded) & {
    font-family: $global-font;
  }
}

@mixin heading-base {
  @include fonts-loaded;
  font-weight: 700;
  line-height: 1;
}

@mixin heading-primary {
  @include heading-base;
  font-size: rem(42);
  margin-bottom: 0;
}

@mixin heading-secondary {
  @include heading-base;
  font-size: rem(32);
  margin-bottom: $vertical-rhythm;
}

@mixin heading-tertiary {
  @include heading-base;
  font-size: rem(24);
  margin-bottom: $heading-margin;
}

@mixin heading-small {
  @include heading-base;
  font-size: rem(20);
  margin-bottom: $heading-margin;
}

@mixin heading-smallest {
  @include fonts-loaded;
  font-size: rem(16);
  margin-bottom: $heading-margin;
}

/**
 * The CTA for linking to more info/blog posts.
 */
@mixin more-link {
  font-size: $small-font-size;

  &::before {
    content: "\203A";
    display: inline;
    padding-right: 0.25rem;
  }
}
